github.com/docker/docker
github.com/hashicorp/consul@latest
github.com/hashicorp/hcl@latest
gopkg.in/ini.v1
github.com/hoisie/mustache@latest
github.com/dop251/goja@latest
github.com/spf13/cobra
github.com/spf13/viper@latest
github.com/mitchellh/go-homedir
github.com/aidarkhanov/nanoid
github.com/goombaio/dag
github.com/goccy/go-graphviz
github.com/alexeyco/simpletable@latest
github.com/ttacon/chalk
